@import "../../global.scss";

.screenWrapper {

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);

    .popup {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 55vw;
        height: 45vh;
        position: relative;

        .infoPopup {

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            background-color: $branco;
            border-radius: 10px;
            height: 100%;
            width: 80%;
            color: $branco;
            cursor: default;
            user-select: none;
            z-index: 2;

            img {
                height: 35vh;
                margin: 1em;
            }

            .popUpText {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 2em;

                h1 {

                    display: flex;
                    text-align: center;
                    font-family: Noto Sans;
                    font-size: 1.1em;
                    color: $azul-tractian;
                    font-weight: 500;
                    z-index: 2;
                    margin-bottom: 2em;
    
                }

                #glowOnHover {
                    padding: 0.5em;
                    border: $branco;
                    outline: none;
                    color: $branco;
                    background: $verde-vivo;
                    cursor: pointer;
                    position: relative;
                    z-index: 0;
                    border-radius: 10px;
                }
                
                #glowOnHover:before {
                    content: '';
                    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                    position: absolute;
                    top: -2px;
                    left:-2px;
                    background-size: 400%;
                    z-index: -1;
                    filter: blur(5px);
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    animation: glowing 20s linear infinite;
                    opacity: 0;
                    transition: opacity .3s ease-in-out;
                    border-radius: 10px;
                }
                
                #glowOnHover:active {
                    color: $verde-vivo;
                }
                
                #glowOnHover:active:after {
                    background: transparent;
                }
                
                #glowOnHover:hover:before {
                    opacity: 1;
                }
                
                #glowOnHover:after {
                    z-index: -1;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: $verde-vivo;
                    left: 0;
                    top: 0;
                    border-radius: 10px;
                }
            }
                
        }

        .closeButton {

            display: flex;
            position: absolute;
            background-color: $azul-tractian;
            width: 35px;
            height: 35px;
            top: -5%;
            right: 7%;
            color: $offWhite;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 300;
            font-size: 24px;
            cursor: pointer;
            z-index: 2;
    
        }
    }

}

@media screen and (max-width: 1260px) {

    .screenWrapper {

       

        .popup {
         

            .infoPopup {
             
                img {
                    height: 20vh;
                }

                .popUpText {
                 
                }
            }
        }

    }
}

@media screen and (max-width: 768px) {

    .screenWrapper {

       

        .popup {
         

            .infoPopup {
             
                img {
                    display: none;
                }
            }
        }

    }

}
