@import "../../global.scss";

#homeBody {

    background-color: $azul-tractian;
    overflow-y: hidden;

    nav {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5em;
        padding: 1.5em;
        width: 100vw;

        .textWrapper {

            margin: 1rem;
            width: 60vw;

            h1{
                font-size: 4em;
                font-family: Fira Mono;
                font-weight: normal;
                color: white;
                animation: glitch 1s linear infinite;
            }
    
            h2 {
                font-size: 1.5em;
                font-family: Fira Mono;
                color: white;
            }

            #glowOnHover {
                padding: 1em;
                border: white;
                outline: none;
                color: #fff;
                background: $verde-vivo;
                cursor: pointer;
                position: relative;
                z-index: 0;
                border-radius: 10px;
            }
            
            #glowOnHover:before {
                content: '';
                background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                position: absolute;
                top: -2px;
                left:-2px;
                background-size: 400%;
                z-index: -1;
                filter: blur(5px);
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                animation: glowing 20s linear infinite;
                opacity: 0;
                transition: opacity .3s ease-in-out;
                border-radius: 10px;
            }
            
            #glowOnHover:active {
                color: $verde-vivo;
            }
            
            #glowOnHover:active:after {
                background: transparent;
            }
            
            #glowOnHover:hover:before {
                opacity: 1;
            }
            
            #glowOnHover:after {
                z-index: -1;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: $verde-vivo;
                left: 0;
                top: 0;
                border-radius: 10px;
            }
            

            
            h1:before,
            h1:after{
                content: attr(title);
                position: absolute;
                left: 0;
            }
            
            h1:before{
                animation: glitchTop 1s linear infinite;
                clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
            }
            
            h1:after{
                animation: glitchBotom 1.5s linear infinite;
                clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
                -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            }
            
        }

    
        img {
            height: 70vh;
        }
    }

    #whyTractian {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $azul-tractian;

        h1 {
            font-size: 3em;
            font-family: Noto Sans;
            color: white;
            animation: glitch 1s linear infinite;
        }

        h1:before,
        h1:after{
            content: attr(title);
            position: absolute;
            left: 0;
        }
        
        h1:before{
            animation: glitchTop 1s linear infinite;
            clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        }

        h1:after{
            animation: glitchBotom 1.5s linear infinite;
            clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
        }

        h2 {
            font-size: 2em;
            font-family: Noto Sans;
            color: white;
        }

        #rowObjects {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 90vw;
            img {
                height: 60vh;
            }
        }

        .cardsWrapper {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 2em;

            .whyCards {

                padding: 1em;
                margin: 1em;
                border-radius: 10px;
                width: 30vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: radial-gradient(#d4d4d4, white);
                box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;

                h2, p {
                    color: black;
                }
            }

            .whyCards:hover {
                background: black;
                transition: all 2s;
                transform: scale(1.1);

                h2, p {
                    color: white;
                }
            }
        }

        #glowOnHover {
            padding: 1em;
            border: white;
            outline: none;
            color: #fff;
            background: $verde-vivo;
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 10px;
        }
        
        #glowOnHover:before {
            content: '';
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left:-2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 20s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
        }
        
        #glowOnHover:active {
            color: $verde-vivo;
        }
        
        #glowOnHover:active:after {
            background: transparent;
        }
        
        #glowOnHover:hover:before {
            opacity: 1;
        }
        
        #glowOnHover:after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: $verde-vivo;
            left: 0;
            top: 0;
            border-radius: 10px;
        }

        .dataWhy {

            display: flex;
            flex-direction: row;

            .dataCard {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                text-decoration: none;
                background: transparent;
                margin: 1em;
                padding: 2.75em 2.5em;
                box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
                transition: transform .45s ease, background .45s ease;
            
                h3 {
                    color: white;
                    font-size: 3.5em;
                    font-family: Noto Sans;
                    line-height: 1;
                    padding-bottom: .5em;
                    margin: 0 0 .1em 0;
                    border-bottom: 2px solid $violeta;
                    transition: color .45s ease, border .45s ease;
                }
            
                p {
                    opacity: 0.5;
                    color: #FFFFFF;
                    font-weight: 600;
                    line-height: 1.8;
                    margin: 0 0 1.25em;
                    transform: translateY(-1em);
                    transition: opacity .45s ease, transform .5s ease;
                }
                
                &:hover {
                    background: $violeta;
                    transform: scale(1.02);
                
                    h3 {
                        color: white;
                        border-bottom-color: $violeta;
                    }
                
                    h4 {
                        color: white;
                    }
                
                    p {
                        opacity: 1;
                        transform: none;
                    }
                }
            }
        }

        #achievements {

            display: flex;
            padding-top: 2em;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
    
            img {
                height: 30vh;
            }
    
            h2 {
                color: white;
            }
    
            .feedbacks {
    
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                    .clientText {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        margin: 1em;
                        padding: 1em;
                        width: 80vw;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                        img {
                            height: 20vh;
                            border-radius: 100px;
                            margin: 1em;
                        }
                
                        h3 {
                            margin: 1em;
                            text-align: center;
                            font-size: 1em;
                            color: white;
                        }
    
                        h4, p {
                            color: white;
                            text-align: center;
                        }
    
                        p{
                            font-size: 0.8em;
                        }
    
                    }
            }
        }
    }

    #howItWorks {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1.5em;
        background-color: $offWhite;

        h1{
            font-size: 3em;
            font-family: Noto Sans;
            color: $azul-tractian;
            animation: glitch 1s linear infinite;
        }

        h1:before,
        h1:after{
            content: attr(title);
            position: absolute;
            left: 0;
        }
        
        h1:before{
            animation: glitchTop 1s linear infinite;
            clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        }
        
        h1:after{
            animation: glitchBotom 1.5s linear infinite;
            clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
        }

        h2 {
            font-size: 2.5em;
            font-family: Noto Sans;
            font-weight: normal;
            color: black;

            b {
                font-weight: bold;
            }
        }

        p {
            font-size: 1.5em;
            color: black;
        }

        .problemsSolved {
            .example {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 2em;

                img {
                    height: 40vh;
                }
            }

            .exampleReverse {
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                padding: 2em;


                img {
                    height: 50vh;
                }
            }
        }

        #PSPhases {

            display: flex;
            flex-direction: column;
            width: 100vw;
            align-items: center;  

            .PSStoryline {

                display: grid; 
                grid-template-columns: 1fr 0fr 1fr; 
                grid-template-rows: 1fr 1fr 1fr;  
                grid-template-areas: 
                "A B ."
                ". C D"
                "E F .";
                align-items: center;
                justify-content: center;
                background-color: $azul-tractian;
                position: relative;
                padding-bottom: 2em;

                .boxStoryline {

                    display: flex;
                    width: 5em;
                    height: 5em;
                    background-color: $azul-tractian;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;


                    h1 {

                        font-size: 28px;
                        color: white;

                    }

                }

                .storylineText {

                    padding: 0 1rem;

                    h3 {

                        color: white;

                    }

                    img {
                        height: 40vh;
                    }

                    h4 {

                        margin: .5rem 0;
                        font-weight: 400;
                        color: white;
                        opacity: .6;

                    }

                    span {

                        color: white;

                    }

                }

                #A {

                    grid-area: A;
                    text-align: right;
                    align-self: center;

                }

                #B {

                    grid-area: B;
                    z-index: 2;

                }

                #C {

                    grid-area: C;
                    z-index: 2;

                }

                #D {

                    grid-area: D;
                    text-align: left;

                }

                #E {

                    grid-area: E;
                    text-align: right;

                }

                #F {

                    grid-area: F;
                    z-index: 2;

                }

            }
        }

        .detectedProblems {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            margin-bottom: 2em;

            h1 {
                font-size: 2.5em;
            }

            .gridProblems {

                width: 90vw;
                display: grid;
                grid-template-columns: repeat(auto-fit, 30vw);


                .problem {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 0.5em;
                    border-radius: 10px;
                    margin: 1em;
                    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
                    transition: transform .45s ease, background .45s ease;

                    &:hover {
                        transform: scale(1.1);
                    }


                    .exclamationTriangle {
                        background: linear-gradient(45deg, #25C8EF, #3A88F6);
                        width: 1em;
                        padding: 1em;
                        border-radius: 100px;
                        color: white;
                    }

                    .exclamationCircle {
                        background: linear-gradient(45deg, #A556F7, #6666F2);
                        width: 1em;
                        padding: 1em;
                        border-radius: 100px;
                        color: white;
                    }

                    .minusCircle {
                        background: linear-gradient(45deg, #FAC815, #F97816);
                        width: 1em;
                        padding: 1em;
                        border-radius: 100px;
                        color: white;
                    }

                    .fireAlt {
                        background: linear-gradient(45deg, #F98D3F, #DD2D73);
                        width: 1em;
                        padding: 1em;
                        border-radius: 100px;
                        color: white;
                    }

                    .broadcastTower {
                        background: linear-gradient(45deg, #3ABAF8, #616BF1);
                        width: 1em;
                        padding: 1em;
                        border-radius: 100px;
                        color: white;
                    }

                    .levelDownAlt {
                        background: linear-gradient(45deg, #2D2D30, #2D2D30);
                        width: 1em;
                        padding: 1em;
                        border-radius: 100px;
                        color: white;
                    }
                }
            }
        }
    }
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



@keyframes glitch{
    2%,64%{
        transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-2px,0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg); 
    }
}

@keyframes glitchTop{
    2%,64%{
        transform: translate(2px,-2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg); 
    }
}

@keyframes glitchBotom{
    2%,64%{
        transform: translate(-2px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg); 
    }
}

@keyframes point {
    0% {
     transform: translateX(0);
    }
    100% {
      transform: translateX(.125em);
    }
  }