@import "../../global.scss";

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(45deg, #1E40AF, #2461E9);




    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        .footerList {

            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            width: 15%;
            padding: 0;

            h1 {
                color: $offWhite;
                font-family: Noto Sans;
                font-size: 1em;
            }

            li {
                list-style: none;
                margin: 0.5em 0.5em 0.5em 0;
                a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

    }

    .menuImages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        .footerImages {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 20%;
            padding: 0;

            .investors {
                img {
                    height: 5vh;
                    margin: 0.3em;
                }
            }

            .rewards {
                img {
                    height: 10vh;
                    margin: 0.3em;
                }
            }

            .socialMedias {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 5vh;
                    margin: 0 2em 1.5em 0;
                    
                }
            }

            h1 {
                color: $offWhite;
                font-family: Noto Sans;
                font-size: 1em;
            }

            h2 {
                color: $offWhite;
                font-family: Noto Sans;
                font-size: .8em;
                margin: 0;
                padding: 0.5em 0;
            }

        }
    }
}

@media (max-width: 768px) {

    footer {
        .menu {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .footerList {
                width: 100%;
                margin: 2em;
            }
        }

        .menuImages {

            display: flex;
            flex-direction: column;

            .footerImages {
                width: 50%;
                margin: 2em;

                .rewards {
                    display: flex;
                    flex-direction: column;
                    margin-left: 0;
                }

                .investors {
                    display: flex;
                    flex-direction: column;
                    margin-right: 0;
                }
            }
        }
    }

}