@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

:root {

    width: 100%;
    overflow-x: hidden;

}

::-webkit-scrollbar {

    background: transparent;

}

::-webkit-scrollbar-thumb { 

    background-color: #000;
    
}


$azul-tractian:  #1E3A8A;
$violeta: #3c0e96;
$verde-vivo: #22C55E;
$offWhite: #ececec;
$amarelo: #dbb826;
$roxo: #55008F;
$cinza: #585755;
$branco: #fff;