@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

:root {

    width: 100%;
    overflow-x: hidden;

}

::-webkit-scrollbar {

    background: transparent;

}

::-webkit-scrollbar-thumb { 

    background-color: #000;
    
}

$azul: #4158D0;
$rosa: #C850C0;
$amarelo: #FFCC70;
$roxo:  #7B1FA2;
$violeta: #3c0e96;
$verde-claro: rgb(44, 235, 114);
$verde-vivo: #22C55E;
$offWhite: #ececec;
$offBlack: rgb(22, 22, 22);
$branco: #fff;
$preto: #000;